<div class="field">
  <label>Album Name</label>
  <div class="ui action input">
    {{input value=model.albumName}}
  </div>
</div>
<div class="field">
  <label>Author Name</label>
  <div class="ui action input">
    {{input value=model.authorName}}
  </div>
</div>
<div class="field">
  <label>Year</label>
  <div class="ui action input">
    {{input value=model.year}}
  </div>
</div>
<div class="field">
  <label>Image</label>
  <div class="ui action input">
    {{input value=model.image}}
  </div>
</div>